html,
body {
  font: 16px/1.2 "Hack", Helvetica, arial, sans-serif;
  color: rgb(220,220,220);
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
  background: rgb(100,100,100);
}

hr {
  border: dotted 2px rgb(220,220,220);
}

h1 {
  font-size: 42px;
}

#editor {
  width: 55%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
}

#game {
  position: relative;
  background: rgb(100,100,100);
}

#sidebar {
  width: 45%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  border-left: dotted 5px rgb(220,220,220);
  background: rgb(120,120,120);
}

#sidebar-inner {
  padding-left: 60px;
  padding-right: 60px;
}


.tile-icon {
  margin-right: 15px;
}
